<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="120">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%msg%n" />
    </Console>
    <RollingRandomAccessFile name="File" fileName="logs/latest-.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%logger{36}] [%level] %msg%n" />
      <Policies>
        <CronTriggeringPolicy schedule="0 0 0 * * ?" />
        <OnStartupTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
    <logger name="org.apache.ibatis" level="warn">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </logger>
    <logger name="com.zaxxer.hikari" level="warn">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </logger>
    <logger name="com.baomidou.mybatisplus" level="warn">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </logger>
    <Root level="debug">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>

