<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="120">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%style{[}{White}%style{%d{yyyy-MM-dd HH:mm:ss}}{Magenta}%style{]}{White} %style{[}{White}%style{%logger{36}}{Cyan}%style{]}{White} %style{[}{White}%highlight{%level}{ERROR=Bright RED, WARN=Bright yellow, INFO=Bright Green}%style{]}{White} %style{%msg}{NORMAL}%n" />
    </Console>
    <RollingRandomAccessFile name="File" fileName="logs/latest-.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%logger{36}] [%level] %msg%n" />
      <Policies>
        <CronTriggeringPolicy schedule="0 0 0 * * ?" />
        <OnStartupTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
    <logger name="org.docx4j" level="warn">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </logger>
    <logger name="org.ddr.poi" level="warn">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </logger>
    <logger name="com.deepoove.poi" level="warn">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </logger>
    <Root level="debug">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>

